<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <script>
        const a  = document.querySelector('h1')
        let num = 5
     times =   setInterval(() => {
            
            a.textContent = '注册成功' + num + '秒后回到登录页面'
            num--;
            if(num == 0){
                window.location.href = 'http://localhost:5000/view/login.html';
               return 
            }
        }, 1000);

    </script>
</body>
</html>